
.body {
  font-family: "Roboto", 'sans-serif';
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color:#4D5AE5;
  text-transform: uppercase;
}
.logo{
    text-decoration: none;
}
.logo-slice {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color:#2E2F42;
}

.menu-link.link {
  font-family: "Roboto";
  color:#434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.menu-link .link:hover {
  color:#404BBF;
}
.contact-email .contact-tel {
  color: var(--primary-color));
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-email:hover
  .contact-tel:hover
  .contact-email:focus
  .contact-tel:focus {
  color: #404BBF;
  
}
.adress{
    font-style: normal;
}
.list {
  list-style: none;
}

/* HERO */

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em
}
.hero{
    background-color: rgba(46, 47, 66, 1);
}

.button {
  color:#ffffff;
  background-color:#4D5AE5;
  font-family: 'Roboto','sans-serif';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04;
  cursor: pointer;
}

.button:hover .button:focus {
  color:#ffffff;
  background-color: #404BBF;
  text-align: center;
}

/* LIST OF FEATURES */

.features.features-title {
  font-family: "Roboto";
  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-title{
  font-family: "Roboto";
  color: var(--primary-color);
  background-color: #F4F4FD ;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* FOOTER */
.footer {
  background-color:#2E2F42;
}
.footer-logo {
  font-family: "Raleway", 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color:#4D5AE5;
}
.footer-logo{
    text-decoration: none;
}
.logo-half {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}


.footer-text {
  color: #f4f4fd;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}



/* PORTFOLIO */
.body{
    font-family: "Roboto", 'sans-serif';
    color: #434455;
    background-color: #ffffff;
}



.work-list.list{

    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-decoration: none;
}
.list-title{
    color: #2E2F42;
}

.list-filter{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.link{
    text-decoration: none;
}