:root{
    --main-color: rgba(67, 68, 85, 1);
}
.body {
  font-family: 'Roboto', 'sans-serif';
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color:#4D5AE5;
  text-transform: uppercase;
}
.logo{
    text-decoration: none;
}
.logo-slice {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color:#2E2F42;
}

.menu-link.link {
  font-family: "Roboto";
  color:#2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-link:hover.menu-link:focus{
  color:#404BBF;
}
.link:hover.link:focus{
    color: #404BBF;
}
.contact-email .contact-tel {
  color: #434455;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-email:hover
.contact-tel:hover
.contact-email:focus
.contact-tel:focus {
  color: #404BBF;
  
}
.adress{
    font-style: normal;
}
.list {
  list-style: none;
}

/* HERO */
.hero {
    background-color: rgba(46, 47, 66, 1);
}
.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.button {
  color:#ffffff;
  background-color:#4D5AE5;
  font-family: 'Roboto','sans-serif';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04;
  text-align: center;
  cursor: pointer;
}

.button:hover.button:focus {
  background-color: #404BBF;
  text-align: center;
}

/* LIST OF FEATURES */

.features.features-title {
  font-family: "Roboto";
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feauters-descr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* LIST OF EMPLOYEES */

.section-title{
  font-family: "Roboto";
  color: #2e2f42;
  background-color: #F4F4FD ;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.employees-list{
    background-color: #FFFFFF
}
.employees-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.employees-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* FOOTER */
.footer {
  background-color:#2E2F42;
}
.footer-logo {
  font-family: "Raleway", 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color:#4D5AE5;
  text-transform: uppercase;
}
.footer-logo{
    text-decoration: none;
}
.logo-half {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}


.footer-text {
  color: #f4f4fd;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}



/* PORTFOLIO */
.body{
    font-family: "Roboto", 'sans-serif';
    color: #434455;
    background-color: #ffffff;
}

.main-button.button-filter{
    font-family: "Roboto", 'sans-serif';
    color:#4D5AE5;
    background-color: #F4F4FD;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
}
.main-button:hover,.main-button:focus{
    color: #FFFFFF;
    background-color: #404BBF;

}
.button-filter:hover,
.button-filter:focus {
    color: #FFFFFF;
    background-color: #404BBF;

}

.work-list.list{

    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-decoration: none;
}
.list-title{
    color: #2E2F42;
}

.list-filter{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.link{
    text-decoration: none;
}